*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Poppins' , sans-serif;
}
/* -----------------H E A D E R--------------------- */
.top-header{
    /* height: 100px; */
    padding-bottom: 22px;
    padding-top: 21px;
    align-items: center;
    /* vertical-align: middle; */
    /* text-align: center; */
}
.row{
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    /* vertical-align: middle;
    text-align: center; */
}
/* .top-header .col-4, .helpers, ul, li{
    display: inline-block;
}  */
.top-header .col-4{
    width: calc(33.333% - 24px);
    float: left;
    margin-left: 12px;
    margin-right: 12px;
}

.top-header .col-4 nav ul li{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
nav{
    float: right;
}
.top-header .logo{
    margin-top: 29px;
    margin-bottom: 30px;
}
.top-header .col-4 nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.top-header .pages nav ul li {
    margin-right: 40px;
    margin-top: 37.5px;
    margin-bottom: 38px;
}

.top-header .helpers nav ul li{
    display: inline-block;
    margin-left: 32px;
    margin-top: 35.84px;
    margin-bottom: 36.87;
}

/* -----------T O P  S E C T I O N---------------------- */

.hero-section{
    background-image: url("../img/S1Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 716.828px;
    /* max-width: 1440px; */
    /* margin-left: auto;
    margin-right: auto; */
    padding-top: 130px;
    padding-left: 732px;
    padding-bottom: 136.18px;
    margin-bottom: 52px;
}
.hero-section .container .textlink{
    /* width: 608px;
    height: 443px; */
    border-radius: 10px;
    /* z-index: 1; */
    background: #FFF3E3;
    padding-top: 64px;
    padding-left: 41px;
    float: right;
    margin-right: 124px;
    /* margin-top: 100px; */
}
.hero-section .p1{
    width: 513.732px;
    height: 52px;
    color: var(--Font-Color, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}
.hero-section .spatial{
    color: var(--Font-Color, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
}
.hero-section h1{
    width: 525.964px;
    height: 127px;
    color: var(--Primary, #B88E2F);
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 125% */
    align-items: center;
}

.hero-section .link{
    width: 222px;
    height: 74px;
    background: var(--Primary, #B88E2F);
    /* border: 1px solid #B88E2F; */
    padding-left: 72px;
    padding-top: 25px;
    margin-top: 50px;
    margin-bottom: 36.33px;
}
.hero-section .link a{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

/* ----------- S E C T I O N 2 --------------------- */
.section2{
    /* height: 644px; */
    margin-top: 60px;
    text-align: center;
}
.section2 .text h2{
    color: var(--Font-Color, #333);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section2 .text p{
    margin-bottom: 60px;
    color: var(--Font-Color1, #666);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section2 .col-4{
    width: calc(33.333% - 24px);
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 62px;
}
.section2 .col-4 img{
    width: 100%;
    /* height: 100%; */
}
.section2 .col-4 p{
    color: var(--Font-Color, #333);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}

/* ------------------------S E C T I O N 3------------------------- */

.section3{
    /* height: 1054px; */
    /* margin-top: 0px; */
}
.section3 .text h2{
    color: var(--Color-Gray-1, #3A3A3A);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    margin-bottom: 25px;
}
.section3 .col-3{
    width: calc(25% - 24px);
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
    background: var(--Color-Light-BG, #F4F5F7);
}
.section3 .col-3 img{
    width: 100%;
}
.section3 .col-3 .textforimg{
    width: 100%;
    padding-left: 16px;
    padding-top: 16px;
}
.section3 .col-3 .textforimg h3{
    color: var(--Color-Gray-1, #3A3A3A);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
}
.section3 .col-3 .textforimg h5{
    color: var(--Color-Gray-3, #898989);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.section3 .col-3 .textforimg p strong{
    color: var(--Color-Gray-1, #3A3A3A);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}
.section3 .col-3 .textforimg p span{
    color: var(--Color-Gray-4, #B0B0B0);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-decoration-line: line-through;
}
.section3 .btn{
    width: 245px;
    height: 48px;
    border: 1px solid var(--Primary, #B88E2F);
    background: #FFF;
    text-align: center;
    align-items: center;
    padding-top: 12px;
    margin-top: 30px;
    margin-left: 498px;
    margin-bottom: 62px;
}

.section3 .btn a{
    text-decoration: none;
    color: var(--Primary, #B88E2F);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    text-align: center;
    align-items: center;
    
}
/* -----------S E C T I O N 4----------------------- */
.section4{
    /* height: 670px; */
    background: #FCF8F3;
    padding-top: 44px;
    padding-bottom: 44px;
}
.section4 .col-4{
    width: calc(33.333% - 24px);
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    /* height: 582px; */
}
.section4 .col-4 .textgroup{
    padding-top: 123px;
}
.section4 .col-4 .textgroup  h2{
    color: var(--Color-Gray-1, #3A3A3A);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    margin-bottom: 24px;
}
.section4 .col-4 .textgroup p{
    color: var(--Color-Gray-2, #616161);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.section4 .col-4 .btn{
    /* width: 176px;
    height: 48px; */
    margin-top: 41px;
    background: var(--Primary, #B88E2F);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 198px;
    margin-right: 222px;
}
.section4 .col-4 .btn a{
    color: var(--Color-White, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    text-decoration: none;
    
}
.section4 .imgtext{
    background-image: url("../img/S4Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 582px; */
    padding-top: 428px;
    padding-left : 24px;
    margin-bottom: 24px;
}

.section4 .imgtext .textgroup1 .text{
    display: inline-block;
    /* width: 217px;
    height: 130px; */
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(1.5px);
    color: var(--Color-Gray-2, #616161);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    text-align: center;
    padding-top: 32px;
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.section4 .imgtext .textgroup1 p{
    color: var(--Color-Gray-2, #616161);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
}
.section4 .imgtext .textgroup1 h2{
    color: var(--Color-Gray-1, #3A3A3A);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 33.6px */
}
.section4 .imgtext .textgroup1 .btn1 {
    display:  inline-block;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    /* margin-top: 82px; */
}
.section4 .bg-img img{
    width: 100%;
    /* height: 582px; */
}

/* ------------F O O T E R------------------ */

/* footer{
    padding-top: 48px;
    padding-bottom: 38px;
}
footer .col-3{
    width: calc(25% - 24px);
}
footer .col-2{
    width: calc(16.6666667% - 24px);
    padding-left: 100px;
}
footer .col-4{
    width: calc(33.333% - 24px);
    
}
footer .col{
    float: left;
    margin-left: 12px;
    margin-top: 12px;
}
footer .col-4 .text{
    margin-bottom: 202px;
    color: #9F9F9F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .col-4 .logo{
    margin-bottom: 50px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer h4{
    color: #9F9F9F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 55px;
}
footer ul li{
    list-style: none;
    margin-bottom: 46px;
}
footer ul li a{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    
}
footer .help{
    padding-left: 100px;
}
.newsletter{
    padding-left: 30px;
}

footer .newsletter .button{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #F4F5F7;
}
footer hr{
    background: #D9D9D9;
    margin-bottom: 35px;
}
footer .copyright{
    text-align: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */


footer{
    padding-top: 48px;
    padding-bottom: 38px;
}
footer .col-3{
    width: calc(25% - 24px);
}
footer .col-2{
    width: calc(16.6666667% - 24px);
    padding-left: 100px;
}
footer .col-4{
    width: calc(33.333% - 24px);
    
}
footer .col{
    float: left;
    margin-left: 12px;
    margin-top: 12px;
}
footer .col-4 .text{
    margin-bottom: 202px;
    color: #9F9F9F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .col-4 .logo{
    margin-bottom: 50px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer h4{
    color: #9F9F9F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 55px;
}
footer ul li{
    list-style: none;
    margin-bottom: 46px;
}
footer ul li a{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    
}
footer .help{
    padding-left: 100px;
}
.newsletter{
    display: inline-block;
    float: right;
    padding-left: 20px;
}

footer .newsletter button{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #F4F5F7;
    /* color: white; */
    border: none;
    border-bottom: 2px solid #000;
}
footer .newsletter input{
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-bottom: 2px solid #000;
}
footer hr{
    background: #D9D9D9;
    margin-bottom: 35px;
}
footer .copyright{
    text-align: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
